cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/3.20.2/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.20.2/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.20.2/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.20.2/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.20.2/CMakeRCCompiler.cmake
cmake-build-debug/CMakeFiles/3.20.2/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.20.2/CompilerIdC/a.exe
cmake-build-debug/CMakeFiles/3.20.2/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.20.2/CompilerIdCXX/a.exe
cmake-build-debug/CMakeFiles/3.20.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/format
*.in
*.ans
/.cf/session